[Unit]
Description=odn-publisher

[Service]
ExecStart=/root/odn-publisher/index.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/odn-publisher

[Install]
WantedBy=multi-user.target
