[Unit]
Description=odn-publisher

[Service]
ExecStart=~/odn-publisher/index.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=~/odn-publisher

[Install]
WantedBy=multi-user.target